a,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#landing-page {
  height: 100vh;
  width: auto;
  background: linear-gradient(rgba(35, 58, 105, 0.9), rgba(35, 58, 105, 0.9)),
    url(assets/bg-image.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding: 2em 1em;
}
img[alt="trail"] {
  width: 90vw;
  min-width: 1300px;
}
#h1-container {
  display: inline-block;
  background: red;
}
#h1-container h1 {
  font-size: 5vw;
}
.special-content {
  display: none;
}