body {
  background: #b7d2ff;
}
#center-txt {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 4.5em 0 0 0;
}
#center-txt p {
    margin: .9em 0 0 0;
    width: 500px;
    color: #fff;
    font-weight: bold;
}
h1 {
  font-size: 72px;
  font-weight: bold;
  color: #fff;
}
#galerie {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: 70px auto 90px;
}
.item {
    width: 450px;
    height: 200px;
    margin: 10px;
    overflow: hidden;
    flex-shrink: 0;
}