main {
  display: flex;
  flex-direction: column;
}

.intro-container {
  padding: 6em 2em 2em;
  background: #c9d9f3;
  color: #567cbc;
}
.intro-container h1 {
  font-size: 4em;
}
.intro-container p {
  font-family: "B612", sans-serif;
  font-size: 1.2em;
  line-height: 1.2em;
  width: 80vw;
  min-width: 1384px;
}
.prestations {
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  height: 55em;
  background: #567cbc;
}
.prestation-item {
  margin: 1.5em;
  height: 12em;
  width: 70vw;
  min-width: 1150px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #c9d9f3;
}
.item-placement {
  width: 45em;
}
.item-placement > img {
  height: 10em;
}
.item-placement > h2 {
  font-size: 3em;
  text-align: start;
}
ul {
  display: flex;
  flex-direction: column;
}
li {
  font-family: "B612", sans-serif;
  font-size: 1.7em;
}
.card-container {
  display: flex;
  flex-direction: column;
  background: #c9d9f3;
  height: 40em;
  padding: 2em;
}
.card-container > h1 {
  color: #567cbc;
  font-size: 3em;
}
.card-layout {
  margin: 3em auto;
  height: 30em;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.ulm-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: #567cbc;
  border-radius: 10px;
  width: 15%;
  min-width: 270px;
  height: 90%;
  padding: 1.5em;
}
.ulm-cards > img {
  width: 70%;
  /*     min-width: 195px;
 */
  border-radius: 10px;
}
img#bis {
  width: 150px;
}
.ulm-cards h3 {
  color: #c9d9f3;
  font-size: 1.8em;
}
.ulm-cards p {
  font-family: "B612", sans-serif;
  color: #c9d9f3;
  text-align: justify;
  width: 90%;
  font-size: .8em;
}
.cards-price {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cards-price p {
  font-size: 1.4em;
}
