footer {
  background: #c9d9f3;
  position: relative;
  bottom: 0;
  height: 30%;
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-family: "B612", sans-serif;
}
.foot-item {
  height: 320px;
  width: 800px;
  padding: 1.3em;
}
.foot-item h3 {
  color: #567cbc;
}
.info-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em;
}
.info-list img {
  height: 40px;
}
.info-list p {
  margin: 1em;
  font-family: "B612", sans-serif;
  font-size: 1em;
}
