.main-content {
  height: 100%;
  background: #567cbc;
}
#cookie-btn {
  position: fixed;
  right: 4%;
  bottom: 4%;
  border-radius: 50%;
  height: 90px;
  width: 90px;
}
a#open_preferences_center img {
  height: 90%;
}
nav {
  font-family: "B612", sans-serif;
  font-size: 11px;
}
.container-1 {
  padding: 0 4em 4em;
  color: #b7cff6;
}
.container-1 h1 {
  font-family: "Hachi Maru Pop", cursive;
  font-size: 48px;
}
.container-1 p {
  font-family: "B612", sans-serif;
  font-size: 1.2em;

  min-width: 979px;
  max-width: 1900px;
  text-align: justify;
  color: #c9d9f3;
}
img[alt="mascotte"] {
  width: 17vw;
  position: absolute;
  right: 0;
  top: 10%;
}
.container-2 {
  color: #567cbc;
  background: #c9d9f3;
  padding: 2em 4em 2em;
}
.container-2 h2 {
  font-size: 48px;
}
.equipe-layout {
  display: flex;
  padding: 3em 0 1em;
  justify-content: center;
}
.equipe-item {
  min-height: 400px;
  min-width: 280px;
  margin: 0 2em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.equipe-item p {
  font-family: "B612", sans-serif;
  padding: 1em 0;
  text-align: center;
  color: #092e6e;
}
.img-placeholder {
  background: red;
  height: 80%;
}
.container-3 {
  padding: 2em;
  height: 30%;
  color: #b7cff6;
}
.container-3 p {
  color: #b7cff6;
}

.photos {
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}
.photo-item {
  height: 240px;
  width: 240px;
  margin: 0 2em 0;
  padding: 0 0 2em;
}
.photo-item img {
  height: 100%;
  border-radius: 10px;
}
/* .container-3 h1 {
  font-size: 48px;
}
.carousel-item {
  width: 200px;
}
.carousel-inner {
  display: flex;
  justify-content: space-around;
}
 */
