#tarifs-section {
  height: auto;
  background: #567cbc;
  padding-left: 4em;
  padding-right: 4em;
  padding-bottom: 4em;
}
#gros-titre {
  padding-left: 0em;
  padding-top: 2em;
  padding-bottom: 2em;
}
#gros-titre h1 {
  font-size: 4em;
  color: #b7cff6;
}
#prompt {
  color: #b7cff6;
  font-family: "B612", sans-serif;
  font-size: 1.5em;
}
table {
  margin: 3em 0;
  font-family: "B612", sans-serif;
}
/* test */
.test {
  display: flex;
  flex-direction: column;
}
.logo-container {
  display: inline-flex;
}
.logo-container img {
  width: 45px;
  padding: 0.8em 0.5em;
}
