a,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
}

.navbar.navbar-expand-lg {
  background: #c9d9f3;
}
a.nav-link {
  color: #5b79b7;
}
#tarifs-section {
  height: 70vh;
  background: #567cbc;
  padding: 4em;
}
#gros-titre {
  padding: 2em;
}
#gros-titre h1 {
  font-size: 4em;
  color: #b7cff6;
}
#prompt {
  color: #b7cff6;
}
table {
  margin: 3em 0;
}
.table-striped {
  text-align: center;
}
footer {
  background: #c9d9f3;
  height: 30%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.foot-item {
  height: 320px;
  width: 800px;
  padding: 1.3em;
}
.foot-item h3 {
  color: #567cbc;
}
.info-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em;
}
.info-list img {
  height: 40px;
}
.info-list p {
  margin: 1em;
}

/* test */
.test {
  display: flex;
  flex-direction: column;
}
.logo-container {
  display: inline-flex;
}
.logo-container img {
  width: 45px;
  padding: .8em .5em;
}
