a,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
}

.navbar.navbar-expand-lg {
  background: #c9d9f3;
}
a.nav-link {
  color: #5b79b7;
}
#tarifs-section {
  height: 100vh;
  width: 100%;
  background: #567cbc;
  padding: 4em;
}
#gros-titre {
  width: min-content;
  padding: 2em;
}
#gros-titre p {
  font-size: 5em;
  color: #b7cff6;
}
#prompt {
  color: #b7cff6;
}
.table-striped {
  text-align: center;
}
